.multiselect {
    position: relative;
    min-width: 250px;
}

.multiselect__list {
    position: absolute;
}

.multiselect__list > .backdrop {
    opacity: 0;
}

.multiselect__active {
    cursor: pointer;
}