.filter__col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.positive input {
    color: #2dba75 !important;
}

.negative input {
     color: #f14c52 !important;
 }