.filter__col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.positive input {
    color: green !important;
}

.negative input {
    color: red !important;
}